@use "normalize.scss";
//font-family: 'Jua', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
//font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


//vars start
$colorito: #3c3c3d;
$mainL: #1B2224;
$mainD: #141A1B;
$mainC: #0E4672;

//mixins start
@mixin no-margins {
    margin: 0;
}

@mixin horizontal-center {
    margin: 0 auto;
}

@mixin perfect-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin nav-hover {
    &:hover {
        scale: 1.08;
        transition:0.3s;
    }
}

@mixin header-text {
    font-family: "Jua", sans-serif;
}

@mixin content-text {
    font-family: "Inter", sans-serif;
}

//elements
html {
    scroll-behavior: smooth;
}

body {
    background-color: $mainL;
}

//classes start
.navbar {
    @include content-text;
    font-size: 22px;
    background-color: $mainD;
    width: 100vw;
    height: 4vh;
    color: white;
    @include flex-row;
    @include perfect-center;
    justify-content: space-between;
}

.logo {
    margin-left: 15%;
}


.button-container {
    @include flex-row;
    margin-right: 8%;

    a {
        margin: 0 30px;
        color: white;
        text-decoration: none;
        @include nav-hover;
    }
}

.hero-container {
    @include no-margins;
    height: 96vh;
    background-image: url(../media/animated/background-1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text-container {
    text-align: center;
    position: relative;
    top: 45%;

    h1, p {
        @include no-margins;
    }

    h1 {
        @include header-text;
        font-size: 44px;
    }

    p {
        @include content-text;
        font-size: 20px;
    }
}

.about-container {
    height: 80vh;
    // background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    margin: 0 auto;
    column-gap: 5%;
}

.content-text-container {
    background-color: antiquewhite; //for dev purposes, these are placeholders
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include horizontal-center;
    padding: 22px;

    h2, p {
        @include no-margins;
        background-color:darksalmon;
        padding: 20px;
    }

    h2 {
        @include header-text;
        font-size: 48px;
    }

    p {
        @include content-text;
        font-size: 18px;
    }
}

.content-img {
    background-color: aquamarine;
    content: url("../media/img/spirit\ animal.webp");
    height: auto;
    width: 100%;
    @include horizontal-center;
}

.projects-container {
    // background-color: whitesmoke;
    height: 80vh;
}