@use "normalize.scss";

//vars start
$colorito: #3c3c3d;

//mixins start
@mixin no-margins {
    margin: 0;
}

@mixin perfect-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

//elements
html {
    scroll-behavior: smooth;
}

//classes start
.navbar {
    background-color: black;
    width: 100vw;
    height: 4vh;
    color: white;
    @include flex-row;
    @include perfect-center;
    justify-content: space-between;
}

.logo {
    margin-left: 15%;
}

.button-container {
    @include flex-row;
    margin-right: 8%;

    a {
        margin: 0 30px;
        color: white;
        text-decoration: none;
    }
}

.hero-container {
    @include no-margins;
    height: 96vh;
    background-image: url(../media/animated/background-1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text-container {
    text-align: center;
    position: relative;
    top: 45%;
}

h1, p {
    @include no-margins;
}

.about-container {
    height: 100vh;
    background-color: white;
}

.content-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    margin: 0 auto;
}

.content-text-container {
    background-color: antiquewhite; //for dev purposes, these are placeholders

    h2, p {
        @include no-margins;
    }
}

.content-img {
    background-color: aquamarine;
}